* {
	margin: 0px;
}

body {
	display: flex;
	width: 1600px;
	height: 4256px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 837px;
	width: 1600px;
	background-image: url(/images/developer.png);
	background-position-x: 23px;
	background-position-y: 38px;
	background-repeat: no-repeat;
	background-color: #fff8f3;
}

#listing {
	display: flex;
	flex-direction: row;
	gap: 51px;
	align-items: center;
	justify-content: center;
	margin-right: 230px;
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: inherit;
}

#mary {
	font-size: 45px;
	font-weight: 900;
	font-family: "Open Sans", sans-serif;
	margin-left: 226px;
	margin-top: 51px;
}
#mary-r {
	color: #fd6e0a;
}

.nav-text {
	font-size: 20px;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	color: #474747;
}

.list-none {
	list-style-type: none;
}

.btn {
	color: white;
	background-color: #fd6e0a;
	border: 0;
	width: 150px;
	height: 64px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
}

#hardy-bg {
	position: absolute;
	left: 767px;
	top: 319px;
	z-index: 0;
}

#hardy {
	position: absolute;
	left: 978px;
	top: 161px;
	z-index: 1;
}
