#bg-text{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
} 
#pinkbg {
	background-color: #fff8f3;
	position: absolute;
	left: 230px;
	top: 967px;
	width: 1140px;
	height: 550px;
    display: flex;
    
}
#text {
	border: 1px solid black;
	position: absolute;
	left: 386px;
	top: 1098px;
	width: 827px;
	height: 288px;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 30px;
	justify-content: space-between;
    background-color: white;
    
}

#details {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


